bannerSize = 3666px

.banner
	position relative
	height 635px
	overflow hidden
	&__mask
		overflow hidden
		border-radius 50%
		width bannerSize
		height bannerSize
		position absolute
		bottom 0
		left 50%
		margin-left -(bannerSize/2)
		z-index -10
		border 3px solid #706f72
	img,
	&__image
		position absolute
		bottom 0
	&__image
		background url(../img/banner.jpg) no-repeat fixed center top
		height 635px
		width 100%
	&__text
		position relative
		top 180px
		text-align center
		h1
			font-size 45px
			font-weight 400
			color #fff
			line-height 55px
			strong
				font-weight 800	