.btn
	text-transform uppercase
	display inline-block
	font-weight 800
	text-align center
	border-radius 50px
	position relative
	box-sizing border-box
	&--basic
		@extend .btn
		background base-color-2
		color base-color-2Dark
		font-size 12px
		padding 11px 0
		width 175px
		box-shadow inset 0 0 0 2px base-color-2
		transition .2s
		@media (max-width: screen-xs-max)
			height 40px
			width 40px
		svg
			height 21px
			position absolute
			stroke base-color-2Dark
			top 8px
			left 30px
			@media (max-width: screen-xs-max)
				position relative
				top -2px
				left 0
		svg + span
			position relative
			left 10px
			@media (max-width: screen-xs-max)
				display none
		&:hover
			transition .2s
			background #fff
			box-shadow inset 0 0 0 2px #FFC30E
			color #FFC30E
			svg
				stroke #FFC30E
	&--gradient
		@extend .btn
		background transparent
		color #fff
		padding 20px
		width 100%
		max-width 305px
		font-size 20px
		position relative
		overflow hidden
		transition .3s
		background #01afd6
		background -moz-linear-gradient(left,  #01afd6 0%, #04eaa8 100%)
		background -webkit-linear-gradient(left,  #01afd6 0%,#04eaa8 100%)
		background linear-gradient(to right,  #01afd6 0%,#04eaa8 100%)
		@media (max-width: screen-xs-max)
			padding 14px 0
			font-size 12px
		&:hover
			transition .3s
			opacity .8