.footer
	background color-blue
	padding 20px
	border-top 3px solid color-blueDark
	color darken(color-blueDark, 20%)
	.address
		font-size 13px
		font-weight 600
		@media (max-width: screen-xs-max)
			text-align center
	.phone
		text-transform uppercase
		display table
		@media (max-width: screen-xs-max)
			margin 0 auto
		span
			display table-cell
			vertical-align middle
			font-weight 600
			font-size 14px
			@media (max-width: screen-xs-max)
				font-size 13px
		strong
			color #fff
			font-size 40px
			margin-left 30px
			font-weight 400
			position relative
			top -3px
			@media (max-width: screen-xs-max)
				font-size 28px
				margin-left 10px
	.media
		height 40px
		@media (max-width: screen-xs-max)
			text-align center
			padding 25px 0 
			margin 35px 0 18px
			border-top 1px solid color-blueDark
			border-bottom 1px solid color-blueDark
		li
			display inline-block
			margin-right 15px
			&:last-child
				margin-right 0
	.row--middle
		@media (max-width: screen-xs-max)
			display block