.icon
	&--social
		background-image url(../img/sprite.png)
		background-repeat no-repeat
		display inline-block
		width 40px
		height 40px
		transition .3s
		&:hover
			transition .3s
			opacity .8
		&-facebook
			@extend .icon--social
			background-position 0 0
		&-twitter
			@extend .icon--social
			background-position -55px 0
		&-linkedin
			@extend .icon--social
			background-position -109px 0
		&-youtube
			@extend .icon--social
			background-position -163px 0
		&-instagram
			@extend .icon--social
			background-position -216px 0
	&--arrow
		&-simple
			&--left,
			&--right
				&--border,
				&--active
					stroke-width 17px
					width 70px
					@media (max-width: screen-xs-max)
						width 40px
					svg
						padding 2px
				&--border
					stroke color-gray-2
					cursor no-drop
					svg
						polyline,
						circle
							stroke lighten(color-gray-2, 30%)
				&--active
					stroke #fff
					svg
						circle,
						polyline
							cursor pointer
						circle,
						../
							transition .3s
							fill color-lightBlue
							stroke color-lightBlue
						polyline
							stroke #fff
					&:hover
						svg
							circle,
							../
								transition .3s
								fill darken(color-lightBlue, 10%)
								stroke darken(color-lightBlue, 10%)
			&--left,
			&--left--border,
			&--left--active
				svg
					transform rotate(0deg)
			&--right,
			&--right--border,
			&--right--active
				svg
					transform rotate(180deg)
		&--circle
			padding 16px
			display inline-block
			line-height 0
			box-shadow inset 0 0 0 1px color-gray-2
			border-radius 50%
			transition .2s
			svg
				fill #242424
				width 12px
				transition .2s
				position relative
				left 0
			&:hover
				transition .2s
				box-shadow inset 0 0 0 1px lighten(color-gray-2,60%)
				background lighten(color-gray-2,90%)
				svg
					transition .2s
					left -3px
					fill color-gray-2
	&--download
		display inline-block
		position relative
		vertical-align middle
		fill none
		stroke-linecap round
		stroke-linejoin round
		stroke-width 17px
		-webkit-transition stroke .1s linear
		transition stroke .1s linear
		width 18px
		height 100%
		stroke base-color-2
		vertical-align middle
		&:hover
			stroke #fff