.nav
	&--bar
		background #fff
		z-index 10
		position fixed
		top 0
		left 0
		width 100%
		padding 15px 20px
		border-bottom 1px solid color-gray-2
		box-sizing border-box
		.logo
			width 170px
			display inline-block
			@media (max-width: screen-xs-max)
				width 150px
				position relative
				top 3px