.slider
	margin 70px 0 110px
	&__nav
		&--left,
		&--right
			padding 0 20px
			margin 0 auto
			@media (max-width: screen-xs-max)
				padding 0 10px
	&__content
		&__item
			max-width 842px
			background #fff
			border-radius 60px
			color #000
			box-shadow 0px 20px 80px 0px #c5c6c7
			padding 55px
			padding-bottom 45px
			box-sizing border-box
			text-align center
			@media (max-width: screen-xs-max)
				border-radius 30px
				padding 40px
			img
				width 70%
				height auto
				display inline-block
				max-width 150px
			h1
				font-size 30px
				font-weight 800
				color #0079bf
				text-transform uppercase
				letter-spacing 2px
				margin 6px 0 20px
				padding-bottom 27px
				border-bottom 2px solid #ccc
				@media (max-width: screen-xs-max)
					font-size 16px
			p
				color #626264
				margin 0
				font-size 25px
				@media (max-width: screen-xs-max)
					font-size 14px
			a
				margin-top 33px