*
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

body
	font-family base-fontFamily-1
	font-size 19px
	background base-background
	color color-gray-1
	padding 0
	margin 0

ul
	margin 0
	padding 0
	li
		list-style none

a
	text-decoration none

button
	border 0
	padding 0
	cursor pointer
	font-weight 600

a,
button
	&:active,
	&:focus
		outline 0
		border 0
	
h1,
h2,
h3,
h4,
h5,
h6
	font-weight 500
	
h1
	margin-top 0