.h
	&--block
		display block
	&--inlineBlock
		display inline-block
	&--txt-middle
		vertical-align middle
	&--txt-justify
		text-align justify
	&--txt-center
		text-align center
	&--txt-left
		text-align left
	&--txt-right
		text-align right
	&--uppercase
		text-transform uppercase
	&--animate
		transition 0.3s
	&--flex
		flex 1
	&--hidden-xs
		@media (max-width: screen-xs-max)
			display none	
	&--hidden-sm
		@media (min-width: screen-sm-min) and (max-width: screen-sm-max)
			display none	
	&--hidden-md
		@media (min-width: screen-md-min) and (max-width: screen-md-max)
			display none	
	&--hidden-lg
		@media (min-width: screen-lg-min)
			display none	
	&--animate
		-webkit-animation-duration 1s
		animation-duration 1s
		&-slideInDown
			@extend .h--animate
			-webkit-animation-fill-mode both
			animation-fill-mode both
			-webkit-animation-name slideInDown
			animation-name slideInDown

		&-fadeInDown
			@extend .h--animate
			-webkit-animation-name: fadeInDown
			animation-name: fadeInDown


@-webkit-keyframes fadeInDown {
	from {
		opacity 0
		-webkit-transform translate3d(0, -100%, 0)
		transform translate3d(0, -100%, 0)
	}

	to {
		opacity 1
		-webkit-transform none
		transform none
	}
}

@keyframes fadeInDown {
	from {
		opacity 0
		-webkit-transform translate3d(0, -100%, 0)
		transform translate3d(0, -100%, 0)
	}

	to {
		opacity 1
		-webkit-transform none
		transform none
	}
}

@-webkit-keyframes slideInDown {
	from {
		-webkit-transform translate3d(0, -100%, 0)
		transform translate3d(0, -100%, 0)
		visibility visible
	}
	to {
		-webkit-transform translate3d(0, 0, 0)
		transform translate3d(0, 0, 0)
	}
}

@keyframes slideInDown {
	from {
		-webkit-transform translate3d(0, -100%, 0)
		transform translate3d(0, -100%, 0)
		visibility visible
	}
	to {
		-webkit-transform translate3d(0, 0, 0)
		transform translate3d(0, 0, 0)
	}
}