.container
	@media (max-width: screen-xs-max)
		width 100%
	@media (min-width: screen-sm-min) and (max-width: screen-sm-max)
		width 750px
	@media (min-width: screen-md-min) and (max-width: screen-md-max)
		width 970px
	@media (min-width: screen-lg-min)
		width 1170px
		
.row
	display flex
	&--middle
		@extend .row
		flex-align center
		align-items center
		box-align center
		.col,
		../ .col
			flex 1
			box-sizing border-box