doctype html
html(lang="pt-br")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title Neon

		link(href="css/main.css", rel="stylesheet")
	body
		nav.nav--bar
			.row--middle.h--animate-slideInDown
				.col
					a.icon--arrow--circle(href="#")
						include svg/icon--arrow.html
				.col.h--txt-center
					a.logo(href="#")
						include svg/icon--logo.html
				.col.h--txt-right
					a.btn--basic(href="#")
						include svg/icon--download.html
						span Baixe o App
			
		section.banner
			.banner__text
				h1.h--animate-fadeInDown
					|Tipo um banco, 
					br
					strong só que mais seguro
			.banner__mask
				.banner__image

		section.slider
			.row--middle
				.col
					.slider__nav--left.icon--arrow-simple--left--border
						include svg/icon--arrow-simple.html
					.slider__nav--left.icon--arrow-simple--left--active(onclick="passSlide(-1)")
						include svg/icon--arrow-simple.html

				.slider__content
					.slider__content__item
						img(src="img/icon--biometria.png")
						h1 Biometria
						p Reconhecimento por selfie ou digital, tudo pra oferecer o máximo de segurança.
						a.btn--gradient(href="#") Saiba mais
					.slider__content__item
						img(src="img/icon--biometria.png")
						h1 Lorem ipsum 1
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod do eiusmod
						a.btn--gradient(href="#") Saiba mais
					.slider__content__item
						img(src="img/icon--biometria.png")
						h1 Lorem ipsum 2
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod do eiusmod
						a.btn--gradient(href="#") Saiba mais
					.slider__content__item
						img(src="img/icon--biometria.png")
						h1 Lorem ipsum 3
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod do eiusmod
						a.btn--gradient(href="#") Saiba mais
				.col
					.slider__nav--right.icon--arrow-simple--right--border
						include svg/icon--arrow-simple.html
					.slider__nav--right.icon--arrow-simple--right--active( onclick="passSlide(1)")
						include svg/icon--arrow-simple.html
		section.footer.h--hidden-lg.h--hidden-md
			.row--middle
				.col.h--txt-center
					.phone
						span Atendimento
						strong 0800-606-7688
				.col.h--txt-right
					ul.media
						li
							a.icon--social-facebook(href="#",target="_blank")
						li
							a.icon--social-twitter(href="#",target="_blank")
						li
							a.icon--social-linkedin(href="#",target="_blank")
						li
							a.icon--social-youtube(href="#",target="_blank")
						li
							a.icon--social-instagram(href="#",target="_blank")
				.col
					.address
						|Banco Neon S.A. - CNPJ 00.253.448/0001-17 
						br
						|Av. Raja Gabaglia, 1143/17°andar - CEP: 30380-403
						br
						|Luxemburgo - Belo Horizonte - MG

		section.footer.h--hidden-xs.h--hidden-sm
			.row--middle
				.col
					.address
						|Banco Neon S.A. - CNPJ 00.253.448/0001-17 
						br
						|Av. Raja Gabaglia, 1143/17°andar - CEP: 30380-403
						br
						|Luxemburgo - Belo Horizonte - MG
				.col.h--txt-center
					.phone
						span Atendimento
						strong 0800-606-7688
				.col.h--txt-right
					ul.media
						li
							a.icon--social-facebook(href="#",target="_blank")
						li
							a.icon--social-twitter(href="#",target="_blank")
						li
							a.icon--social-linkedin(href="#",target="_blank")
						li
							a.icon--social-youtube(href="#",target="_blank")
						li
							a.icon--social-instagram(href="#",target="_blank")


		script(src="js/main.js")