<svg class="icon--download" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 196 248.09">
    <path d="M1812,1225.15l-38.06,40a9.51,9.51,0,0,1-13,0l-38.06-40" transform="translate(-1669.5 -1108.02)"></path>
    <line x1="98" y1="159.68" x2="98" y2="8.5"></line>
    <path d="M1857,1202.11v122a23.5,23.5,0,0,1-23.5,23.5h-132a23.5,23.5,0,0,1-23.5-23.5v-122" transform="translate(-1669.5 -1108.02)"></path>
    <path d="M1815,1178.61h18.45a23.5,23.5,0,0,1,23.5,23.5" transform="translate(-1669.5 -1108.02)"></path>
    <path d="M1678,1202.11a23.5,23.5,0,0,1,23.5-23.5h18.45" transform="translate(-1669.5 -1108.02)"></path>
</svg>