<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="11.8 25.3 588.5 588.5" enable-background="new 11.8 25.3 588.5 588.5" xml:space="preserve">
<circle fill="none" stroke="#2B2B2B" stroke-miterlimit="10" cx="306" cy="319.5" r="294.2"/>
<polyline fill="none" stroke="#2B2B2B" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="364.8,496 
	188.3,319.5 364.8,143 "/>
<text transform="matrix(1 0 0 1 6.666766e-03 978.5705)" font-family="'HelveticaNeue-Bold'" font-size="117.6923">Created by Dwi Priyatmoko</text>
<text transform="matrix(1 0 0 1 6.666766e-03 1096.2688)" font-family="'HelveticaNeue-Bold'" font-size="117.6923">from the Noun Project</text>
</svg>