<svg viewBox="122.4 135.9 367.2 364.5" enable-background="new 122.4 135.9 367.2 364.5" xml:space="preserve">
<g transform="translate(0,-992.3622)">
	<path d="M124.9,1318.9l163.2,173.4c4,4.1,10.7,4.2,14.5,0.5c3.9-3.7,4.1-10.6,0.5-14.5l-146.9-156.2h323.2
		c5.6,0,10.2-4.6,10.2-10.2s-4.6-10.2-10.2-10.2H156.2l146.9-156.2c3.7-3.9,3.4-10.8-0.5-14.5c-3.9-3.7-10.2-3.8-14.5,0.5
		l-163.2,173.4C121.1,1309.6,122.1,1315.5,124.9,1318.9L124.9,1318.9z"/>
</g>
</svg>
